In [1]:
import pyforest
import sqlite3
from sqlite3 import Error

In [2]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)

    return conn

In [3]:
conn = create_connection(r'/home/frank/country_club.db')

2.6.0

In [19]:
def query(q):
    cur = conn.cursor()
    cur.execute(q)
    rows = cur.fetchall()
    for row in rows: 
        for element in row:
            print(str(element).ljust(28), end='')
        print()

<br>
<br>

/* Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members! */

In [20]:
query("""
select f.name as facility, SUM(
    case 
        when b.memid = 0 then guestcost * slots 
        else membercost * slots
    end) as revenue
from Bookings as b
left join Facilities as f on f.facid = b.facid
group by f.name
having revenue < 1000
""")

Pool Table                  270
Snooker Table               240
Table Tennis                180

<br>
<br>

/* Q11: Produce a report of members and who recommended them in alphabetic surname,
        firstname order */

In [23]:
query("""
select m.surname || ', ' || m.firstname as member_name, rb.surname || ', ' || rb.firstname as recommended_by
from Members as m
inner join Members as rb on m.recommendedby = rb.memid
order by member_name
""")

Bader, Florence             Stibbons, Ponder
Baker, Anne                 Stibbons, Ponder
Baker, Timothy              Farrell, Jemima
Boothe, Tim                 Rownam, Tim
Butters, Gerald             Smith, Darren
Coplin, Joan                Baker, Timothy
Crumpet, Erica              Smith, Tracy
Dare, Nancy                 Joplette, Janice
Genting, Matthew            Butters, Gerald
Hunt, John                  Purview, Millicent
Jones, David                Joplette, Janice
Jones, Douglas              Jones, David
Joplette, Janice            Smith, Darren
Mackenzie, Anna             Smith, Darren
Owen, Charles               Smith, Darren
Pinker, David               Farrell, Jemima
Purview, Millicent          Smith, Tracy
Rumney, Henrietta           Genting, Matthew
Sarwin, Ramnaresh           Bader, Florence
Smith, Jack                 Smith, Darren
Stibbons, Ponder            Tracy, Burton
Worthington-Smyth, Henry    Smith, Tracy

<br>
<br>

/* Q12: Find the facilities with their usage by member, but not guests */

In [24]:
query("""
select f.name as facility, hours_booked
from Facilities as f
inner join (
    select facid, sum(slots)/2 as hours_booked from Bookings
    where memid > 0
    group by facid
    ) as member_bookings on member_bookings.facid = f.facid
order by hours_booked desc
""")

Badminton Court             543
Tennis Court 1              478
Massage Room 1              442
Tennis Court 2              441
Snooker Table               430
Pool Table                  428
Table Tennis                397
Squash Court                209
Massage Room 2              27

<br>
<br>

/* Q13: Find the facilities usage by month, but not guests */

In [25]:
query("""
SELECT f.name as facility, strftime('%m', starttime) as month, sum(slots)/2 as hours_booked
	FROM Bookings as b
    inner join Facilities as f on b.facid = f.facid
GROUP by month, facility
""")

Badminton Court             07                          90
Massage Room 1              07                          132
Massage Room 2              07                          12
Pool Table                  07                          58
Snooker Table               07                          78
Squash Court                07                          82
Table Tennis                07                          52
Tennis Court 1              07                          135
Tennis Court 2              07                          103
Badminton Court             08                          229
Massage Room 1              08                          246
Massage Room 2              08                          41
Pool Table                  08                          161
Snooker Table               08                          163
Squash Court                08                          200
Table Tennis                08                          152
Tennis Court 1              08                          229
Tennis Court 2              08                          241
Badminton Court             09                          285
Massage Room 1              09                          324
Massage Room 2              09                          61
Pool Table                  09                          235
Snooker Table               09                          213
Squash Court                09                          270
Table Tennis                09                          211
Tennis Court 1              09                          295
Tennis Court 2              09                          294

<br>
<br>

<br>
<br>

<br>
<br>

<br>
<br>

# The rest of this is what I used to develop with
To run it, you must install xeus-sqlite
<br>
It is not part of the HW so you can feel free to ignore it

In [1]:
%LOAD /home/frank/country_club.db

<br>
<br>

/* Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members! */

In [27]:


select f.name as facility, SUM(
    case 
        when b.memid = 0 then guestcost * slots 
        else membercost * slots
    end) as revenue
from Bookings as b
left join Facilities as f on f.facid = b.facid
group by f.name
having revenue < 1000

+---------------+---------+
| facility      | revenue |
+---------------+---------+
| Pool Table    | 270     |
+---------------+---------+
| Snooker Table | 240     |
+---------------+---------+
| Table Tennis  | 180     |
+---------------+---------+

<br>
<br>

/* Q11: Produce a report of members and who recommended them in alphabetic surname,
        firstname order */

In [32]:
select m.surname || ', ' || m.firstname as member_name, rb.surname || ', ' || rb.firstname as recommended_by
from Members as m
inner join Members as rb on m.recommendedby = rb.memid
order by member_name

+--------------------------+--------------------+
| member_name              | recommended_by     |
+--------------------------+--------------------+
| Bader, Florence          | Stibbons, Ponder   |
+--------------------------+--------------------+
| Baker, Anne              | Stibbons, Ponder   |
+--------------------------+--------------------+
| Baker, Timothy           | Farrell, Jemima    |
+--------------------------+--------------------+
| Boothe, Tim              | Rownam, Tim        |
+--------------------------+--------------------+
| Butters, Gerald          | Smith, Darren      |
+--------------------------+--------------------+
| Coplin, Joan             | Baker, Timothy     |
+--------------------------+--------------------+
| Crumpet, Erica           | Smith, Tracy       |
+--------------------------+--------------------+
| Dare, Nancy              | Joplette, Janice   |
+--------------------------+--------------------+
| Genting, Matthew         | Butters, Gerald    |
+--------------------------+--------------------+
| Hunt, John               | Purview, Millicent |
+--------------------------+--------------------+
| Jones, David             | Joplette, Janice   |
+--------------------------+--------------------+
| Jones, Douglas           | Jones, David       |
+--------------------------+--------------------+
| Joplette, Janice         | Smith, Darren      |
+--------------------------+--------------------+
| Mackenzie, Anna          | Smith, Darren      |
+--------------------------+--------------------+
| Owen, Charles            | Smith, Darren      |
+--------------------------+--------------------+
| Pinker, David            | Farrell, Jemima    |
+--------------------------+--------------------+
| Purview, Millicent       | Smith, Tracy       |
+--------------------------+--------------------+
| Rumney, Henrietta        | Genting, Matthew   |
+--------------------------+--------------------+
| Sarwin, Ramnaresh        | Bader, Florence    |
+--------------------------+--------------------+
| Smith, Jack              | Smith, Darren      |
+--------------------------+--------------------+
| Stibbons, Ponder         | Tracy, Burton      |
+--------------------------+--------------------+
| Worthington-Smyth, Henry | Smith, Tracy       |
+--------------------------+--------------------+

<br>
<br>

/* Q12: Find the facilities with their usage by member, but not guests */

In [65]:
/* Q12: Find the facilities with their usage by member, but not guests */
select f.name as facility, hours_booked
from Facilities as f
inner join (
    select facid, sum(slots)/2 as hours_booked from Bookings
    where memid > 0
    group by facid
    ) as member_bookings on member_bookings.facid = f.facid
order by hours_booked desc

+-----------------+--------------+
| facility        | hours_booked |
+-----------------+--------------+
| Badminton Court | 543          |
+-----------------+--------------+
| Tennis Court 1  | 478          |
+-----------------+--------------+
| Massage Room 1  | 442          |
+-----------------+--------------+
| Tennis Court 2  | 441          |
+-----------------+--------------+
| Snooker Table   | 430          |
+-----------------+--------------+
| Pool Table      | 428          |
+-----------------+--------------+
| Table Tennis    | 397          |
+-----------------+--------------+
| Squash Court    | 209          |
+-----------------+--------------+
| Massage Room 2  | 27           |
+-----------------+--------------+

<br>
<br>

/* Q13: Find the facilities usage by month, but not guests */

In [90]:
SELECT f.name as facility, strftime('%m', starttime) as month, sum(slots)/2 as hours_booked
	FROM Bookings as b
    inner join Facilities as f on b.facid = f.facid
GROUP by month, facility

+-----------------+-------+--------------+
| facility        | month | hours_booked |
+-----------------+-------+--------------+
| Badminton Court | 07    | 90           |
+-----------------+-------+--------------+
| Massage Room 1  | 07    | 132          |
+-----------------+-------+--------------+
| Massage Room 2  | 07    | 12           |
+-----------------+-------+--------------+
| Pool Table      | 07    | 58           |
+-----------------+-------+--------------+
| Snooker Table   | 07    | 78           |
+-----------------+-------+--------------+
| Squash Court    | 07    | 82           |
+-----------------+-------+--------------+
| Table Tennis    | 07    | 52           |
+-----------------+-------+--------------+
| Tennis Court 1  | 07    | 135          |
+-----------------+-------+--------------+
| Tennis Court 2  | 07    | 103          |
+-----------------+-------+--------------+
| Badminton Court | 08    | 229          |
+-----------------+-------+--------------+
| Massage Room 1  | 08    | 246          |
+-----------------+-------+--------------+
| Massage Room 2  | 08    | 41           |
+-----------------+-------+--------------+
| Pool Table      | 08    | 161          |
+-----------------+-------+--------------+
| Snooker Table   | 08    | 163          |
+-----------------+-------+--------------+
| Squash Court    | 08    | 200          |
+-----------------+-------+--------------+
| Table Tennis    | 08    | 152          |
+-----------------+-------+--------------+
| Tennis Court 1  | 08    | 229          |
+-----------------+-------+--------------+
| Tennis Court 2  | 08    | 241          |
+-----------------+-------+--------------+
| Badminton Court | 09    | 285          |
+-----------------+-------+--------------+
| Massage Room 1  | 09    | 324          |
+-----------------+-------+--------------+
| Massage Room 2  | 09    | 61           |
+-----------------+-------+--------------+
| Pool Table      | 09    | 235          |
+-----------------+-------+--------------+
| Snooker Table   | 09    | 213          |
+-----------------+-------+--------------+
| Squash Court    | 09    | 270          |
+-----------------+-------+--------------+
| Table Tennis    | 09    | 211          |
+-----------------+-------+--------------+
| Tennis Court 1  | 09    | 295          |
+-----------------+-------+--------------+
| Tennis Court 2  | 09    | 294          |
+-----------------+-------+--------------+